body {
    font-family: "Helvetica", sans-serif;
    color: white;
    background-color: black;
    display: flex;
}
ul {
    list-style-type: none;  
    margin: 0;
    padding: 10;
    overflow: hidden; 
}

li {
    display: block;
    width: 200px;
    float: left;
    text-decoration: none
  }
/*
.header {
}
.buttonFilter {

}

.latest_movies {

}
.avengers_movies {

}
.xmen_movies {

}
.princess_movies {

}
.batman_movies {

}
.container {

}
.movieList {

}
*/
